# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# User-specific Xcode data
**/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# Secrets
.env
.env.*
*.p12
*.mobileprovision
